/* p {
  font-family: Lato;
}

label {
  font-family: Lato;
  font-weight: bold;
  color: #00CCCC;
}
button {
  background-color: pink;
}
table {
    background-color: pink;
} */
agm-map {
  height: 300px;
}


/* * {
  font-family: Lato;
}

a {
  color: darkblue;
} */